## Temporary files created by vim.
*.swp

## Configuration files for pyenv.
.python-version

## Directories created by Python and Jupyter (via running kernels, etc.).
__pycache__/
.ipynb_checkpoints/
